<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="MF.ApiBaseUrl" value="http://localhost:5080/" />
    <add key="MF.HttpTimeoutSeconds" value="15" />
    <add key="MF.DebounceMilliseconds" value="400" />
    <add key="MF.LogPath" value="logs\addon-.log" />
    <!-- Opcional: chave compartilhada com a API (X-Api-Key). Preferir setar
         via variavel de ambiente MF_API_KEY em producao para evitar commit. -->
    <add key="MF.ApiKey" value="" />
  </appSettings>
  <runtime>
    <gcServer enabled="false"/>
  </runtime>
</configuration>
